/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
    /*overflow:hidden!important;*/
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    margin: 1em 0;
    padding: 0;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
}

img {
    vertical-align: middle;
}

fieldset {
    margin: 0;
    padding: 0;
    border: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    padding: 0.2em 0;
    background: #ccc;
    color: #000;
}

/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    overflow: hidden;
    border: 0;
    background-color: transparent;
    *text-indent: -9999px;
}

.ir:before {
    display: block;
    width: 0;
    height: 150%;
    content: "";
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    margin: -1px;
    padding: 0;
    width: 1px;
    height: 1px;
    border: 0;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    position: static;
    overflow: visible;
    clip: auto;
    margin: 0;
    width: auto;
    height: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    display: table;
    content: " ";
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        box-shadow: none !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}


/* ==========================================================================
   BigSpoon styles
   ========================================================================== */

/* Custom Fonts */
@font-face {
    font-weight: bold;
    font-family: 'Ostrich Sans';
    src: url("{{STATIC_URL}}fonts/ostrich-black.ttf");
}

@font-face {
    font-family: 'Scholar';
    src: url("{{STATIC_URL}}fonts/texgyreschola-regular.otf");
}


body {
    /*background: url("{{STATIC_URL}}img/bg.png");*/
    background: #606060;
}

.wrapper {
    margin: 0 auto;
    max-width: 960px;
    border-radius: 5px;
}

#container {
    float: left;
    margin: 0 20px;
    padding: 10px 0px;
    width: 100%;
    border: none;
}

/* Top Navigation */
nav {
    float: left;
    min-width:960px;
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    background: #fff;
    -webkit-box-shadow: 0px 2px 2px rgba(50, 50, 50, 0.2);
    -moz-box-shadow:    0px 2px 2px rgba(50, 50, 50, 0.2);
    box-shadow:         0px 2px 2px rgba(50, 50, 50, 0.2);
}

nav h1, h1.logo{
    display: inline;
    vertical-align: middle;
    font-weight: bold;
    font-size: 36px;
    font-family: "Ostrich Sans";
}

nav ul {
    margin: 2px;
}

nav ul li{
    display: inline;
    padding: 0px;
    height: 100%;
    color: #585858;
    list-style-type: none;
    font-size: 18px;
    font-family: "Scholar";
    line-height:36px;
}

nav ul li a {
    margin: 0 -2.5px;
    padding: 9px 12px;
    border-left: 1px solid #ddd;
    color: #585858;
    text-decoration:none;
}

nav ul li h1 a {
    margin: 0px;
    border:none;
}

nav ul li a.logout {
    border-right: 1px solid #ddd;
}

nav ul li h1 a:hover{
    background: inherit;
    color: inherit;
}

nav ul li a:hover, nav ul li a:focus, nav ul li a:active {
    background: #F8F8F8;
}

nav a.logo{
    display: block;
    float: left;
}

nav a.logo img {
    padding: 0 20px;
    width: 90px;
}

/* Order Items */
.item {
    float: left;
    margin: 5px 0px;
    width: 305px;
    height: 290px;
    border-radius: 9px;
    background: #fff;
    -webkit-box-shadow: 0px 2px 2px rgba(50, 50, 50, 0.6);
    -moz-box-shadow:    0px 2px 2px rgba(50, 50, 50, 0.6);
    box-shadow: 0 2px 2px rgba(50,50,50,0.6);
    /*border: 1px solid rgba(0,0,0,0.7);*/
}

.history {
    /*border-bottom: 2px dashed #ddd;*/
    margin-bottom: 10px;
    height: 270px; !important;
}

.item span.time {
    display:block;
    padding: 5px 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    color: #fff;
    font-size: 14px;
}

.item span.urgent {
    background: rgb(231,76,60);
}

.item span.early {
    background: #0C4;
}

.item span.passed {
    background: #C4C4C4;
}

.item h3 {
    margin-top: 0px;
    margin-bottom: -26px;
    padding-bottom: 4px;
/*    padding-left: 10px;*/
    color: rgb(85,85,85);
    text-align: center;
    font-size: 16px;
}

.item img {
    float:right;
}

p.paid, p.unpaid {
    margin-bottom: -3px;
    padding:5px 10px;
    color: #fff;
    text-align:center;
    text-transform: uppercase;
    font-weight:bold;
    font-size: 12px;
}

p.paid {
    background-color: #C4C4C4;
}

p.unpaid {
    background-color: rgb(231,76,60);
}

p.note {
    overflow:scroll;
    margin-top:0px;
    margin-bottom: -3px;
    padding: 2px 10px;
    min-height:50px;
    height: 50px;
    border-bottom: 1px dashed rgba(0, 0, 0, 0.2);
    background: #fcf6ef;
    color: #333;
    word-wrap: break-word;
    font-size:14px;
}

.item .icon{
    display: inline;
    float: none;
    margin-top: 10px;
    margin-bottom: -10px;
    margin-left: 95px;
    width: 100px;
    opacity: .8;;
}

.item .bill {
    margin-top: 70px;
}

.item h4 {
    display: inline-block;
    margin:0px;
    padding-left: 10px;
    color: rgba(85,85,85,0.8);
    font-size: 14px;
}

.order {
    overflow:scroll;
    margin-top: 0px;
    margin-bottom: 5px;
    padding-left: 1px;
    height: 115px;
}

.order li {
    padding: 5px 10px;
    color: #333;
    list-style-type: none;
    word-wrap: break-word;
}

.order li p {
    display: inline-block;
    margin: 0px;
    width: 195px;
    text-align: left;
}

.order li em.quantity {
    float:left;
    margin-right: 5px;
    padding: 2px 10px;
    padding-right:10px;
    border-radius: 5px;
    background-color: #0C4;
    color: #fff;
    font-size: 14px;
}

.order li em.pos{
    padding:2px 5px;
    margin-left: 5px;
    border-radius:5px;
    background-color:#61C0B9;
    color: #fff;
    font-size:12px;
}

.order li:nth-child(even){
    border-top: 1px dashed rgba(0, 0, 0, 0.2);
    background: #f2ede8;
}

.order li:nth-child(odd){
    border-top: 1px dashed rgba(0, 0, 0, 0.2);
    background: #fcf6ef;
}

.order li:last-child {
    border-bottom: 1px dashed rgba(0, 0, 0, 0.2);
}

li p.empty-orders {
border-bottom: 1px dashed rgba(0, 0, 0, 0.2);
background: #fcf6ef;
}

.item a:hover, .item a:focus, .item a:active {
    cursor: pointer;
}

.item a.acknowledge, .item a.respond, .item a.closebill {
    position: absolute;
    bottom: 5px;
    left: 15px;
    padding: 5px 70px;
    width: 120px;
    border-radius: 5px;
    background-color: #CCC;
    color: white;
    text-align:center;
    text-decoration:none;
    text-shadow: rgba(0, 0, 0, 0.22) 0 -1px 0;
    font-size: 14px;
}

.table a.closebill {
    position: static;
    padding: 5px 90px;
    width: 80px;
    border-radius: 5px;
    /*background-color: #61C0B9;*/
    background-color: #CCC;
    color: white;
    text-align:center;
    text-decoration:none;
    text-shadow: rgba(0, 0, 0, 0.22) 0 -1px 0;
    font-size: 14px;
}

.item a.closebill {
    background-color: rgb(231,76,60);
}

.table a.closebill:hover, .table a.closebill:active {
    cursor:pointer;
}

/*.item a.closebill:hover,.item a.closebill:active, .item a.closebill:focus {
background-color: #468847;
}

.item a.acknowledge:hover,.item a.acknowledge:active, .item a.acknowledge:focus {
    background-color: #008cdd;
}*/

/*.item a.respond:hover,.item a.respond:active, .item a.respond:focus {
    background-color: #0C4;
}*/

/* Menu main & Menu Items */
#main {
    float: left;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    border: none;
}

#main .wrapper {
    margin-top: 5px;
}

#main .wrapper-bg {
    margin-top:10px;
    padding-top:0px;
    padding-bottom: 40px;
    width: 960px;
    border-radius:5px;
    background: #fff;
}

#main .wrapper-no-bg {
    margin: 0 auto;
    margin-top: 10px;
    width: 860px;
    background: none;
}

#main h1 {
    padding: 20px;
    padding-bottom:0px;
    color: #333;
}

#main a.add, #main input.save, .note-save {
    display:inline-block;
    float: right;
    margin: 20px;
    padding: 10px 20px;
    width: auto;
    border-radius: 5px;
    background-color: #008cdd;
    color: white;
    text-align:center;
    text-decoration:none;
    font-size: 14px;
}

#main input.save {
    float: none;
    background-color: #61C0B9;
}

#main input.save:hover, #main input.save:active, #main input.save:focus {
    background-color: #008cdd;
}

#main .item p.allergy {
    overflow: scroll;
    margin: 0px;
    padding: 2px 10px;
    height: 20px;
    background: rgba(97,192,185, 0.5);
    color: #FFF;
    word-wrap: break-word;
    font-size: 14px;
}

.user-summary {
    display:block;
    clear:both;
    background: #eee;
}

.view-profile {
    display: block;
    float: left;
    overflow:hidden;
    margin-top: 3px;
    padding: 0px 5px;
    width: 105px;
    background: #C4C4C4;
    color: #fff;
    text-align: center;
    text-decoration: none;
    border-bottom: 1px dashed rgba(0, 0, 0, 0.2);
}

.view-profile .full {
    width: 140px;
}

.profile-tab {
    display: block;
    float: left;
    overflow:hidden;
    margin-top: 3px;
    margin-bottom:0px;
    padding: 0 5px;
    width: 85px;
    height: 22px;
    background: #fcf6ef;
    color: #666;
    text-align: center;
    font-size:14px;
    border-bottom: 1px dashed rgba(0, 0, 0, 0.2);
}

.view-profile:hover {
    background: #61C0B9;
}

.user-summary .visits {
    float: left;

}

.menu-item {
    min-height:270px;
    border-top: 1px dotted rgba(0, 0, 0, 0.2);
}

.menu-item:last-child {
    border-bottom: 1px dotted rgba(0, 0, 0, 0.2);
}

.menu-item img{
    float: left;
    overflow: hidden;
    margin-right:5px;
    height: 300px;
}

.menu-item span{
    display: inline-block;
    padding: 10px;
    width: 420px;
}

.menu-item span p {
    float:left;
    margin: 0px;
    padding: 10px 0px 0px 10px;
    font-weight: bold;
}

.menu-item span.notifications {
    position: relative;
    bottom: 100px;
    max-width: 400px;
    width: auto;
    border-radius:5px;
}

.menu-item span.notifications p {
    padding:10px;
    font-weight:normal;
    margin-top: 10px;
}

.note-save {
    display:inline;
    float:none;
    margin:0px;
}

.user {
    display:block;
    overflow-y: hidden;
    margin-bottom: -3px;
    height: 40px;
    border-bottom: 1px dashed rgba(0,0,0,0.2);
}

.user h4 {
    display: inline-block;
    padding-top: 15px;
    max-width: 200px;
    word-wrap:break-word;
    font-weight:normal;
    font-size: 14px;
}

.user img {
    float: right;
}


/* Menu update error/success messages */
p.error {
    display: inline;
    padding: 10px;
    border-radius: 5px;
    background: rgb(231,76,60);
    color: #fff;
}

p.success {
    display: inline;
    padding: 10px;
    border-radius: 5px;
    background: #0C4;
    color: #fff;;
}


/* Filter search bar*/
input#filter , .login p input, .user-info input, .menu-item p input, .menu-item textarea{
    padding: 10px;
    max-height:80px;
    border: 0px;
    border-bottom: 1px solid #fff;
    border-radius: 5px;
    background-color: #ebebeb;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12) inset;
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12) inset;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12) inset;
    color: #555;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
    -o-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12) inset;
}

.menu-item p.name input{
    margin: 0px 20px 0px 15px;
    width: 295px;
}

.menu-item p.description textarea{
    width: 360px;
}

.menu-item p.photo{
    margin-top:5px;
    width: 400px;
}

.menu-item p.photo a {
    color: #777;
    font-weight: normal;
}

.menu-item p.photo a:hover {
    color: #333;
}

.menu-item p.photo input {
    margin-top:10px;
    max-width: 270px;
}

.menu-item p.start_time input, .menu-item p.end_time input, .menu-item p.price input, p.pos input, p.quantity input{
    margin-left:5px;
    width: 95px;
}

.menu-item p.pos {
    margin-left: 15px;
}

/*Menu add page styles*/

#accordion {
    padding-top: 30px;
}

.accordion-heading {
    margin: 0px;
    padding: 10px 20px;
    color: #fff;
    font-weight: normal;
    font-size: 24px;
    font-family: Scholar;
}

.accordion-heading:nth-of-type(odd){
    background-color: #4EB2AB;
}

.accordion-heading:nth-of-type(even){
    background-color: #61C0B9;
}

.accordion-heading:hover, .accordion-heading:focus,
.accordion-heading:active {

}

.accordion-heading i {
    float:right;
}

form.menu-add {
    margin-left: 30px;
    padding-bottom: 60px;
}

.menu-item .menu-add span p {
    padding-left: 0px;
}

.menu-item .menu-add span p.pos {
    margin-left: 0px;
}

.menu-item .menu-add span p.price {
    margin-left: 20px;
}

.menu-item .menu-add span p.price #id_price{
    margin-left: 10px;
}

.menu-item .menu-add span p.end_time {
    padding-left: 20px;
}

.menu-item .menu-add span p.end_time input,
.menu-item .menu-add span p.start_time input{
    width: 80px;
}

.menu-item .menu-add span p.photo input {
    margin-left: 20px;
}

.menu-add .pos input{
    margin-left: 4px;
}

.menu-add .price {
    margin-left: 60px;
}

.menu-item p.photo input {
    margin-top:0px;
    margin-left: 20px;
}

.menu-add .price #id_price, .menu-add .quantity {
    margin-left: 20px;
}

#main .menu-add .save, .login .login-btn {
    display:block;
    margin:0 auto;
    width: 200px;
    text-shadow: rgba(0, 0, 0, 0.22) 0 -1px 0;
    font-size:16px;
}

/* =========================
   Table Page Styles */
.table {
    float: left;
    margin: 5px;
    padding-bottom: 10px;
    min-height: 200px;
    width: 960px;
    border-radius: 5px;
    background: #fff;
    -webkit-box-shadow: 0px 2px 2px rgba(50, 50, 50, 0.1);
    -moz-box-shadow:    0px 2px 2px rgba(50, 50, 50, 0.1);
    box-shadow:         0px 2px 2px rgba(50, 50, 50, 0.1);
    text-align:center;
}

.table h3 {
    margin-top: 10px;
    margin-bottom: 0px;
    padding-left:10px;
    border-bottom: 1px dotted rgba(0, 0, 0, 0.2);
    color: rgb(85,85,85);
    font-size: 32px;
    font-family: "Scholar";
}

.table h4 {
    margin: 0;
    padding-left: 20px;
    font-weight: bold;
    color: rgba(85,85,85,1);
}

.table .order {
    margin-top: 0px;
    margin-bottom: 20px;
}

/* User profile page */

.user-info {
    display:inline-block;
    margin: 10px auto 20px;
    padding: 20px;
    width: 700px;
    border-radius: 5px;
    background: #fff;
}

.past-orders {
    display: block;
    float: left;
    width: 300px;
}

.user-preferences {
    display: block;
    float: left;
    width: 340px;
}

.user-info .user img {
    float: left;
}

.user-info .user h3 {
    display: inline-block;
    padding-left: 10px;
}

.user-info h4 {
    margin-bottom: 0px;
}

.user-info p.allergies,.user-info p.vegetarian,.user-info p.favourites {
    margin-top: 0px;
}

.user-info .user-stats {
    display: block;
    padding-bottom: 20px;
    width: auto;
    height: 60px;
    border-bottom: 1px dotted rgba(0, 0, 0, 0.2);
}

.user-info .past-orders {
    margin-left: 20px;
    border-bottom: 1px dotted rgba(0, 0, 0, 0.2);
}

.user-info .visits, .user-info .spent{
    display: inline;
    float: left;
    margin-right: 10px;
    padding: 10px;
    border-radius: 5px;
    background: #0C4;
    color: #fff;
}

.user-info .feedback, .user-info .favourites, .user-info .vegetarian, .user-info .allergies {
    display: inline-block;
    margin-top: 0px;
    padding:20px;
    width: 300px;
    height: 80px;
    border-top: 1px dashed rgba(0, 0, 0, 0.2);
    border-bottom: 1px dashed rgba(0, 0, 0, 0.2);
    background: #fcf6ef;
}

.user-info input.notes {
    margin-bottom:15px;
    width: 280px;
    height: 80px;
}

.user-info .notespan {
    display: block;
    padding-bottom: 20px;
    border-bottom: 1px dashed rgba(0, 0, 0, 0.2);
}

/* Vegetarian/Muslim notice */
.notice {
    margin-bottom: 0px;
    background: rgba(78,178,171, 0.5);
    color: #fff;
    color: #fff;
    text-align: center;
    text-decoration: none;
}


/* Login page styles */
.login .login-btn {
    margin-top: 40px;
    padding: 10px 20px;
    border-radius: 10px;
    background-color: #008cdd;
    color: white;
    text-align:center;
    text-decoration:none;
}

.login {
    margin: 10px auto;
    padding: 40px;
    padding-top:10px;
    width: 360px;
    border-radius: 5px;
    background: #fff;
}

h1.logo {
    display: block;
    margin: 0 auto;
    margin-top: 50px;
    width: 200px;
    text-align:center;
    font-size: 64px;
}

.login label {
    display: inline-block;
    width: 100px;
    font-weight: bold;
}

.white-popup {
    position: relative;
    margin: 20px auto;
    padding: 10px;
    max-width: 740px;
    border-radius:5px;
    background: #FFF;
}


/* =========================
   Report Page Styles */
table tbody tr td empty {
    padding-left:10px;
}
table thead tr th,
table tbody tr td,
.separate-column{
    padding-right:18px;
    padding-left:5px;
}
table tbody tr td,
.align-top{
    vertical-align:top;
}
.order-spending, .greyfont{
    color:gray;
}
.order-spending{
    font-size:14px;
} /*Default font-size seems to be 16.*/

.force-clear{margin:0;}
.sectionHeader {
    display:block;
    margin: 10px;
    margin-bottom:0px;
    padding: 10px 20px 10px 20px; /*trbl*/
    width: 900px;
    /*padding: 5px 10px 5px 10px;*/ /*trbl*/
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    background-color: #660033;
    color: #fff;
}

.tableWrapper {
    margin:10px;
    margin-top:0px;
    padding:20px;
    padding-bottom: 40px;
    width: 900px;
    background:#fff;
}

.chartWrapper {
    margin:10px;
    margin-top:0px;
    padding:20px;
    padding-bottom: 40px;
    width: 900px;
    background:#fff;
}

.datatable {
    margin-top: 10px;
    margin-left: 30px;
}
table thead tr {
    border-bottom: 2px solid #660033;
}
table thead tr th { }
.datatable tbody tr {
    border-bottom: 1px solid #D5B9C7;
}
.datatable tbody tr td {
    padding-top: 5px; padding-bottom: 3px;
}



.help {
    margin: 10px auto;
    padding: 5px 20px;
    max-width: 660px;
    border-radius: 5px;
    background: rgba(0,0,0,0.4);
    color: #fff;
    font-size: 14px;
}

.help:hover {
    cursor:pointer;
}

.no-orders {
    padding-top: 40px;
    color: rgba(85,85,85,0.8);
    text-align: center;
}

input#filter {
    float: right;
    margin: 20px 5px;
    width:300px;
    height: 20px;
}

#pick-category {
    margin: 30px;
    margin-bottom:0px;
}

#pick-table {
    display:block;
    padding: 5px 10px;
}

#pick-table label {
    color: #fff;
    letter-spacing: 0.2px;
}

#pick-table select {
    margin: 10px;
}

.notification {
    display:inline;
    margin-left: 5px;
    padding: 5px;
    /*visibility: hidden;*/
    width:20px;
    height:20px;
    border-radius: 20px;
    background: rgba(231,76,60,0.8);
    color: #fff;
    text-shadow: rgba(0, 0, 0, 0.22) 0 -1px 0;
    font-size: 14px;
}

.table .active{
    float: left;
    padding: 0px 6px;
    min-height: 220px;
    width: 305px;
    border: 1px solid white;
}

/*.menu-heading {
    position: relative;
    bottom: 75px;
}*/

.table-name {
    display:inline;
    font-weight:bold;
}

.login p input {
    max-width: 250px;
}

.no-cards {
    padding-top: 180px;
    text-align: center;
    font-size: 24px;
    color: #fff;
    text-shadow: rgba(0, 0, 0, 1) 0 1px 1px;
}

.login-error {
    text-align: center;
    margin: 0 auto;
    width: 400px;
    padding: 10px;
    border-radius: 5px;
    background: #e74c3c;
    color: #fff;
}