{% extends "staff.html" %}

{% load menufilters %}

{% block content %}

<div class="wrapper">
<div class="wrapper-bg">
    <h1>Add Menu</h1>

    <div class="menu-item">
        <form class="menu-add" action="/staff/menu/add/" method="post" enctype="multipart/form-data">{% csrf_token %}
            <span>
                <p class="outlet">{{form.outlet.as_hidden}}</p>
                <p class="name">{{form.name.label}} {{form.name}}</p>
                <p class="pos"><i class="icon-barcode"></i> POS {{form.pos}}</p>
                <p class="price"><i class="icon-usd"></i> {{form.price.label}} {{form.price}}</p>
                <p class="description">{{form.desc.label}} {{form.desc}}</p>
                <p class="photo"><i class="icon-camera"></i> {{form.photo.label}} {{form.photo}}</p>
                <p class="start_time"><i class="icon-time"></i> {{form.start_time.label}} <br/>{{form.start_time|addcss:"ui-timepicker-input"}}</p>
                <p class="end_time"><i class="icon-time"></i> {{form.end_time.label}} <br/>{{form.end_time|addcss:"ui-timepicker-input"}}</p>
                <p class="quantity"><i class="icon-shopping-cart"></i> Stock <br/> {{form.quantity}}</p>
                <p class="categories"><i class="icon-tag"></i> {{form.categories.label}} {{form.categories}}</p>
            </span>

            <input class="save" type="submit" value="Add dish" />

        </form>

        {% if form.errors %}
            <p class="error">{{ form.errors }}</p>
        {% endif %}

    </div>
</div>
{% endblock content %}
