{% extends "staff.html" %}

{% block content %}

<div class="help">
    <p><i class="icon-food"></i> <strong>Menu</strong> lets you view and update your outlet's menu items.</p>
</div>

<div class="wrapper">
    <div class="wrapper-bg">

        <a class="add" href="/staff/menu/add/"><i class="icon-plus"></i> Add menu item</a>

        <input type="text" class="text-input" id="filter" value="" placeholder="Type to filter"/>

        <select id="pick-category">
            <option value="">
            All Categories
            </option>
            {% for category in categories %}
            <option value="{{category.name}}">
            {{category.name|capfirst}}
            </option>
            {% endfor %}
        </select>

        <!-- <h1>Menu</h1> -->

        <div id="accordion">
            {% for dish in dish_list %}
            <h3 class= "accordion-heading"><input type="hidden" value="{{dish.categories.all}}" /> {{ dish.name }} <i class="icon-collapse"></i></h3>
            <div>
                <div class="menu-item">
                    <img src = "{{ dish.photo.url_640x400 }}"/>
                    <span class="form">
                        <p class="name"><label>Name </label> <input type="text" value="{{dish.name}}"></p>
                        <p class="price"><i class="icon-usd"></i> Price <input type="text" value="{{dish.price}}"></p>
                        <p class="pos"><i class="icon-barcode"></i> POS <input type="text" value="{{dish.pos}}"></p>
                        <p class="description">Description <br/><textarea cols="40" rows="10">{{dish.desc}}</textarea></p>
                        <p class="start_time"><i class="icon-time"></i> Start time <br/><input type="text" autocomplete="off" class="ui-timepicker-input" value="{{dish.start_time|date:"H:i:s"}}"></p>
                        <p class="end_time"><i class="icon-time"></i> End time <br/><input type="text" autocomplete="off" class="ui-timepicker-input" value="{{dish.end_time|date:"H:i:s"}}"></p>
                        <p class="quantity"><i class="icon-shopping-cart"></i> Stock <br/>
                            <select>
                                <option value="{{dish.quantity}}" selected="selected">Current: {{dish.quantity}}</option>
                                <option value="0">0</option>
                                <option value="10">10</option>
                                <option value="20">20</option>
                                <option value="30">30</option>
                                <option value="40">40</option>
                                <option value="50">50</option>
                                <option value="100">100</option>
                            </select>
                        </p>

                        <a href="#" class="add" dish-id="{{dish.id}}" onclick="updateDish(this)"><i class="icon-save"></i> Save</a>
                    </span>
                    <span id="notice-{{dish.id}}" class="notifications">
                    </span>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock content %}
