{% extends "staff.html" %}

{% load staticfiles %}
{% load compress %}

{% block content %}

<!--     <div class="help">
        <p><i class="icon-bell-alt"></i> <strong>Home</strong> shows you all orders and requests waiting for your response right now. Here, you can acknowledge that the order has been accepted and let diners know that waiters will soon be with them.</p>
    </div> -->

    <div class="wrapper">
    {% if cards %}




        {% for card in cards %}
            {% if card.orders %}
                {% with card as meal %}
                <div class="item">
                    {% if meal.wait_time.0 >= meal.table.outlet.threshold %}
                    <span class="urgent time countdown" start={{meal.count_down_start}}>
                    {% else %}
                    <span class="early time countdown" start={{meal.count_down_start}}>
                    {% endif %}
                        <i class="icon-time"></i> waited {{meal.wait_time.0}}m, {{meal.wait_time.1}}s
                    </span>
                    <h3>{{ meal.table.name }}</h3>
                    <span class='user'>
                            <a class="user-profile-link" href="/staff/user/{{meal.diner.id}}"><img src="{{meal.diner.avatar_url}}" /></a>
                            <h4>{{ meal.diner.get_full_name }}</h4>
                    </span>
                    <span class="user-summary">
                    <p class='profile-tab'>{{ meal.diner.meals.count }} visits</p>
                    <p class='profile-tab'>${{ meal.diner.get_average_spending }} ave</p>
                    <a href="/staff/user/{{meal.diner.id}}" class='view-profile'><i class="icon-user"></i> Profile</a>
                    </span>

                    {% if meal.diner.profile.is_vegetarian == 'Y' and meal.diner.profile.is_muslim == 'Y' %}
                        <p class="notice"><i class="icon-warning-sign"></i> Vegetarian & Muslim</p>
                    {% elif meal.diner.profile.is_vegetarian == 'Y' %}
                        <p class="notice"><i class="icon-warning-sign"></i> Vegetarian</p>
                    {% elif meal.diner.profile.is_muslim == 'Y' %}
                        <p class="notice"><i class="icon-warning-sign"></i> Muslim</p>
                    {% endif %}

                    {% if meal.diner.profile.allergies %}
                    <p class="allergy">
                        Allergic to: {{meal.diner.profile.allergies}}
                    </p>
                    {% endif %}

                    {% if meal.status == 2 %}
                    <img class="icon bill" src="{% static "img/bill.png" %}"/>
                    {% else %}
                    <ul class="order">
                        {% if meal.note %}
                            <li>
                                {{meal.note}}
                            </li>
                        {% endif %}
                        {% if meal.orders.count > 0 %}
                            {% for order in meal.orders.all %}
                            <li>
                                <em class='quantity'>{{order.quantity}}x</em>
                                <p>{{order.dish.name}}</p>
                                {% if order.dish.pos %}
                                <em class='pos'>{{order.dish.pos}}</em>
                                {% endif %}
                            </li>
                            {% endfor %}
                        {% else %}
                            <li>No orders yet.</li>
                        {% endif %}
                    </ul>
                    {% endif %}

                    {% if meal.status == 0 %}
                        <a class="acknowledge ack-button" rel="order" model="meal" id="{{meal.id}}"><i class="icon-check-sign"></i> Acknowledge</a>
                    {% elif meal.status == 2 %}
                    <a class="closebill ack-button" rel="bill" model="meal" id={{meal.id}}><i class="icon-money"></i> Close Bill</a>
                    {% endif %}
                </div>
                {% endwith %}
            {% else %}
                {% with card as request %}
                <div class="item request">
                    {% if request.wait_time.0 >= request.table.outlet.threshold %}
                    <span class="urgent time countdown" start={{request.count_down_start}}>
                        {% else %}
                        <span class="early time countdown" start={{request.count_down_start}}>
                            {% endif %}
                            <i class="icon-time"></i> waited {{request.wait_time.0}} m, {{request.wait_time.1}} s
                        </span>
                        <h3>{{ request.table.name }}</h3>
                        <span class='user'>
                                <a class="user-profile-link" href="/staff/user/{{request.diner.id}}"><img src="{{request.diner.avatar_url}}" /></a>
                                <h4>{{ request.diner.get_full_name }}</h4>
                        </span>
                        <span class="user-summary">
                            <p class='profile-tab'>{{ request.diner.meals.count }} visits</p>
                            <p class='profile-tab'>${{ request.diner.get_average_spending }} ave</p>
                            <a href="/staff/user/{{request.diner.id}}" class='view-profile'><i class="icon-user"></i> Profile</a>
                        </span>

                        {% if request.note %}
                            <p class="note">
                                {{request.note}}
                            </p>
                        {% endif %}

                        {% if request.request_type == 0 %}
                        <img class="icon" src="{% static "img/water.png" %}"/>
                        {% elif request.request_type == 1%}
                        <img class="icon" src="{% static "img/waiter.png" %}"/>
                        {% endif %}
                        <a class="respond ack-button" rel="req" model="request" id="{{request.id}}"><i class="icon-check-sign"></i> Acknowledge</a>
                    </div>
                {% endwith %}
            {% endif %}
        {% endfor %}


    {% else %}

        <p class="no-cards"><i class="icon-smile"></i> You have no pending orders!</p>


    {% endif %}
    </div>
{% endblock content %}
