{% extends "staff.html" %}

{% load staticfiles %}
{% load compress %}

{% block content %}

    <div class="help">
        <p><i class="icon-bar-chart"></i> <strong>Report</strong> shows you your outlet's overall analytics.</p>
    </div>

<div class="wrapper">
<div class="sectionHeader"><h2 class="force-clear">Customer Spending Report</h2></div>
<div class="tableWrapper">
<table class="sortable datatable">
    <thead align="left">
        <tr>
            <th class=" sorttable_sorted">S/N<span id="sorttable_sortfwdind">&nbsp;▾</span></th>
            <th class="separate-column">Customer</th>
            <th class="separate-column">Meal Creation Date</th>
            <th class="separate-column">Dishes Ordered</th>
            <th class="separate-column">Total</th>
        </tr>
    </thead>
    <tbody>
        {% for meal in object_list %}
        <tr>
            <td>{{forloop.counter}}</td>
            <td class="separate-column"><a class="user-profile-link" href="/staff/user/{{meal.diner.id}}">{{meal.diner.get_full_name}}</a></td>
            <td class="separate-column">{{meal.created}}</td>
            <td class="separate-column">
                <ul>
                    {% for order in meal.orders.all %}
                    <li><em>{{order.quantity}}x</em> {{order.dish.name}}</li>
                    {% endfor %}
                </ul>
            </td>
            <td class="separate-column">
                ${{meal.get_meal_spending|floatformat:2}}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</div>
<div class="sectionHeader"><h2 class="force-clear">Customer Spending Chart</h2></div>
<div class="chartWrapper">
    <canvas id="chart-spending" class="reportchart" height="450" width="800" style="position:absolute; z-index:0; width: 800px; height: 450px;"></canvas>
    <canvas id="percent-spending" class="reportchart" height="450" width="800" style="position:absolute; z-index:1; width: 800px; height: 450px;"></canvas>
    <canvas id="chart-placeholder" class="reportchart" height="450" width="800" style="width: 800px; height: 450px;"></canvas>
<!-- 	<canvas id="chart-totime" class="reportchart" height="450" width="600" style="width: 600px; height: 450px;"></canvas>
	<canvas id="chart-customer" class="reportchart" height="450" width="600" style="width: 600px; height: 450px;"></canvas>
	<canvas id="chart-performance" class="reportchart" height="450" width="600" style="width: 600px; height: 450px;"></canvas> -->
</div>
</div>
{% endblock content %}

{% block morejs %}
<!--Table-->
<script src="{% static "js/sorttable.js"%}"></script>

<!--CHART TESTING-->
<!--<script src="{% static "js/chart/Chart.min.js"%}"></script>--> <!--DONT use MIN-->

<!--Time and ChartManager must be AFTER Chart.js-->
<script src="{% static "js/chart/Chart.js"%}"></script>
<script src="{% static "js/chart/time.js"%}"></script>
<script src="{% static "js/chart/chartmanager.js"%}"></script>
{% endblock morejs %}
