<div class="wrapper-no-bg white-popup">
    <div class="user-info">
        <span class='user'>
            <img class="thumbnail-navigation" src="{{diner.avatar_url}}" />
            <h3>{{diner.first_name}} {{diner.last_name}}</h3>
        </span>

        <span class='user-stats'>
            {% if diner.profile.gender == 'M' %}
            <p class='visits'><i class="icon-male"></i></p>
            {% elif diner.profile.gender == 'F' %}
            <p class='visits'><i class="icon-female"></i></p>
            {% endif %}
            <p class='visits'><i class="icon-user"></i> {{diner.meals.count}} visits</p>
            <p class='spent'><i class="icon-dollar"></i> {{diner.get_total_spending}} spent</p>
            <p class='spent'><i class="icon-dollar"></i> {{diner.get_average_spending}} average spent</p>
        </span>

        {% if diner.profile %}
        <div class="user-preferences">
            <h4><i class="icon-frown"></i> Known Allergies</h4><p class="allergies">
                {{diner.profile.allergies}}
            </p>

            <h4><i class="icon-warning-sign"></i> Dietary requirements</h4><p class="vegetarian">
                {% if diner.profile.vegetarian %}
                Vegetarian
                {% endif %}

                {% if diner.profile.muslim %}
                Muslim
                {% endif %}
            </p>

            <h4><i class="icon-heart"></i> Favourite categories</h4><p class="favourites">
                {{diner.profile.get_favourite_categories}}
            </p>

            <!-- last feedback -->
            <h4><i class="icon-star"></i> Feedback</h4>
            <p class="feedback">
                {% for review in reviews %}

                {{ review.feedback }}
                <br />
                {% endfor %}
            </p>

        </div>
        {% endif %}

        <!-- order history -->
        <div class="past-orders">

            <!-- manager notes -->
            <h4><i class="icon-file-alt"></i> Notes</h4>

            {% if notes %}
                {% for note in notes %}
                <span class="notespan">
                <input class="notes" type="textarea" placeholder="Likes to sit near windows" value="{{note.content}}"/>

                <a href="#" id="notice-{{note.id}}" class="note-save" onclick="saveNote(this);" user="{{note.user.id}}" outlet="{{note.outlet.id}}"><i class="icon-save"></i> Save</a>
                </span>

                {% endfor %}
            {% else %}
                {% for outlet_id in user.outlet_ids %}

                <span class="notespan">
                <input class="notes" type="textarea" placeholder="Likes to sit near windows"/>

                <a href="#" class="note-save" onclick="saveNote(this);" user="{{diner.id}}" outlet="{{outlet_id}}"><i class="icon-save"></i> Save</a>
                </span>

                <span id="notice-{{note.id}}" class="notifications">

                </span>

                {% endfor %}
            {% endif %}

            <h3><i class="icon-time"></i> Past Orders</h3>

            {% if diner.meals.count > 0 %}

                {% for meal in diner.meals.all %}

                <h5>{{meal.get_created}}</h5>
                <ul class="order">
                    {% if meal.orders.count > 0 %}
                        {% for order in meal.orders.all %}
                        <li>
                            <em class='quantity'>{{order.quantity}}x</em>
                            <p>{{order.dish.name}}</p>
                            {% if order.dish.pos %}
                            <em class='pos'>{{order.dish.pos}}</em>
                            {% endif %}
                        </li>
                        {% endfor %}
                    {% else %}
                        <li>No orders yet.</li>
                    {% endif %}
                </ul>

                {% endfor %}
            {% else%}

                <p>This user has no past orders yet.</p>

            {% endif %}

        </div>

    </div>
</div>
